*
!Dockerfile
!requirements.txt
!.streamlit/
!.streamlit/config.toml
!starter/
!starter/**
!run.py
!pipeline/
!pipeline/**
!viz/
!viz/**
!pipeline/
!pipeline/**
!run.py
!viz/
!viz/**
**/__pycache__/
**/*.pyc
starter/out/
